<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Forever Project Selector</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="../static/css/bootstrap.v337.min.css">
		<script type="text/javascript" src="../static/js/d3.v3.min.js"></script>
        <script type="text/javascript" src="../static/js/gauge.js"></script>
        <datalist id="ticks">
            <option>-8</option>
            <option>-6</option>
            <option>-4</option>
            <option>-2</option>
            <option>0</option>
            <option>2</option>
            <option>4</option>
            <option>6</option>
            <option>8</option>
        </datalist>
	</head>
	<body>
    <div class="container">
        <div class="row top-buffer">
            <div class="col-md-6" id="sliders">
                    <span class="glyphicon glyphicon-grain"></span>
                    <span class="glyphicon glyphicon-tint"></span>
                    <input type="range" id="wbidRange" min="-8" max="8" list="ticks" onchange="updateScores()">
                <br>
                    <span class="glyphicon glyphicon-leaf left"></span>
                    <span class="glyphicon glyphicon-tint right"></span>
                    <input type="range" id="agRange" min="-8" max="8" list="ticks" onchange="updateScores()">
                <br>
                    <span class="glyphicon glyphicon-leaf left"></span>
                    <span class="glyphicon glyphicon-grain right"></span>
                    <input type="range" id="bioRange" min="-8" max="8" list="ticks" onchange="updateScores()">
                <br>
                <div class="center" id="cr-gauge"></div>
                <div class="center" id="cr-number"></div>
            </div>
            <div class="col-md-6" id="display"></div>
        </div>
        <div class="row">
            <div class="col-md-12" id="chart">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody id="table">
                    </tbody>
                </table>
            </div>
        </div>

    <script type="text/javascript" src="../static/js/pagelogic.js"></script>
    </div>
	</body>
</html>