#map path {
    fill: lightgrey;
}
#map circle {
    fill: forestgreen;
    opacity: 0.75;
}
#cr-gauge g.pointer {
    fill: midnightblue;
    stroke: midnightblue;
}
#cr-gauge g.arc {
    opacity: 0.65;
}
span {
    font-size: xx-large;
}
div {
    text-align: center;
}
.top-buffer {
    margin-top: 30px;
}
.title {
    font-size: 1.5em;
}