#map path {
    fill: lightgrey;
}
#map circle {
    fill: forestgreen;
    opacity: 0.75;
}
#cr-gauge g.pointer {
    fill: midnightblue;
    stroke: midnightblue;
}
#cr-gauge g.arc {
    opacity: 0.65;
}
span {
    font-size: x-large;
}
div {
    text-align: center;
}
.top-buffer {
    margin-top: 20px;
}